.moduleCard {
  height: 100%;
}

.cardAction {
  height: 100%;
}

.iconWrapper {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(25, 118, 210, 0.08);
  color: rgb(25, 118, 210);
}

.comingSoon {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}
