.container {
  --assistant-sidebar-width: 60px;
  min-height: calc(100vh - 64px);
  background: #0b0d10;
}

.sidebarContent {
  align-items: start;
}

.content {
  min-height: 24rem;
  margin-left: var(--assistant-sidebar-width);
}

@media (max-width: 600px) {
  .container {
    min-height: calc(100vh - 56px);
  }
}
